<footer class="footer-section">
    <div class="container px-lg-55 px-26 py-12">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4">
          <h5>About WsCube Tech</h5>
          <p>WsCube Tech offers a range of job-oriented online certification courses in fields such as digital marketing, web/app development, cyber security, data science, and more.</p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/about">About Us</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: <a href="mailto:support@wscubetech.com">support@wscubetech.com</a></p>
          <p>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
          <p>Address: 123 Learning Street, Tech City, Country</p>
        </div>
      </div>
  
      <!-- Social Media Links -->
      <div class="social-media-links text-center mt-4">
        <a href="https://www.facebook.com/wscubetech" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com/wscubetech" target="_blank">Twitter</a> |
        <a href="https://www.linkedin.com/company/wscubetech" target="_blank">LinkedIn</a> |
        <a href="https://www.instagram.com/wscubetech" target="_blank">Instagram</a>
      </div>
  
      <!-- Footer Bottom Text -->
      <div class="text-center mt-3">
        <p>&copy; 2023 WsCube Tech. All rights reserved.</p>
      </div>
    </div>
  </footer>
  